.ct-chart-bar {
  color: blue;
  stroke: blue;
}
.ct-bar {
  color: blue;
  stroke : blue;
}
.ct-grid-background {
  color: blue;
  stroke: blue;



}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: blue;
  stroke-width: 100px;
}

.ct-labels {
  height: 100;
  color: red;
}
.ct-grids {
  background-color: blue;
}
